<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/convert.css') }}">
    <script src="{{ url_for('static', filename='js/convert.js') }}"></script>
  </head>
  <body>
    {% extends 'base.html'%}

    {% block content%}
    <div class="container">
      <div class="row justify-content-center align-items-center">
      <h2>Currency Converter</h2>
      <label for="inputAmount">Enter Amount: </label>
      <input type="number" min=0 id="inputAmount" value=0 ></input>
      <div class="selection">
	<select name="left" id="left" class="form-select" aria-label="Default select example">
        <option selected>Select the First Currency Type</option>
	{% for item in data %}
	<option value={{ item.code }}>{{ item.code }}</option>
	{% endfor %}
      </select>
      To 
      <select name="right" id="right" class="form-select" aria-label="Default select example">
        <option selected>Select the Second Currency Type</option>
	{% for item in data %}
	<option value={{ item.code }}>{{ item.code }}</option>
	{% endfor %}
      </select>
      </div>
      <button id="convert" type="button" onclick="getInput()">
	Convert
      </button>
      <h3 id="result">Result: </h3>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
